
@media (prefers-color-scheme: dark) {
	body {
		background-color: #0F1919;
		color: #C7C7C7;
	}
	a {
		color: #40CECC;
	}
}
.toggle{
  margin-right: 3%;
  float: right;
  width: 100px;
  height: 50px;
  margin-top: 20px;
  color: white;
}
.devjobs{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
  margin-left: 35px;
  background-color: #5865E0;
  font-size: 50px;
  border-radius: 5%;
  margin-right: 35px;
  color: white;
  text-align: left;
}
.Header-box{
  flex: auto;
  width: 1000px;
  margin-left: 5%;
  margin-right: 5%;
}
.SearchBar{
  text-align: center;
 /* border: 3px solid red; */
  max-width: 100%;
  margin-left: 5%;
  margin-right: 5%;
}
.fulltimeBtn{
  margin-left: 25px;
}
input[type=text] {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px gray;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  background-color: white;
  padding: 12px 20px 12px 40px;
}

input[type=text]:focus {
  border: 1px solid #555;
}

.searchBtn{
  align-self: center;
  margin-left: 3%;
  background-color: #5865E0;
  color: white;
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 1.5%;
}
.jobField{
  border: 2px solid red;
  max-width: inherit;
  margin: 1.5%;
}

.JobData-Master{
  display: flex;
  flex-wrap: wrap;
  

}
.ImageName{
  max-width:100%;
max-height:100%;
}
.CompanyImage{
  max-width: 25%;
  max-height: 25%;
}
