/* 1. Light Theme: Purple: #5865E0, Light Gray: #F5F6F8, White: #FFFFFF
   2. Dark Theme: Purple: #5865E0, Dark Blue: #131822, Light Blue: #19212D */
   /* .element {
    background-color: #fff;
    color: #000;
  }
  
  /* if user switches the system settings to dark mode */
  /* this media query will be applied */
  /* @media (prefers-color-scheme: dark) {
    .element {
      background-color: #000;
      color: #fff;
    }
  } */ 
  /* body {
    /* background-color: var(--bg, #b3e5fc);
    color: var(--bg-text, #37474f);
    font-family: sans-serif;
    line-height: 1.3;
  } */ 
@media (prefers-color-scheme: dark) {
  body {
    background-color: #131822;
    color: #0F1919;
  }
  .JobData-Master{
    background-color: #131822;
  }
  .jobField{
    background-color:#19212D ;
  }
}

#title {
  position: relative;
  top: 15px;
  left: 73px;
}

.toggleBtn{
  float: right;
  width: 70px;
  height: 50px;
  margin-top: 10px;
  border-radius: 60%;
  /* color: white; */
}

#searchIcon {
  position: relative;
  top: 7px;
  left: 30px;
}

#locationIcon {
  position: relative;
  top: 7px;
  left: 30px;
}

.devjobs{
  height: 80px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #5865E0;
  font-size: xx-large;
  border-bottom-left-radius:5%;
  padding-left: 35px;
  color: white;
  text-align: left;

}
.Header-Box{
  border-bottom-left-radius: 15%;
  background-color:  #5865E0;
  height: 90px;
}
.SearchBar{
  text-align: center;
  max-width: 100%;
  margin-left: 5%;
  margin-right: 5%;
  width: 1000px;
}
.fulltimeBtn{
  margin-left: 25px;
}
input[type=text] {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px gray;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  background-color: white;
  padding: 12px 20px 12px 40px;
}

input[type=text]:focus {
  border: 1px solid #555;
}

.searchBtn{
  align-self: center;
  margin-left: 3%;
  background-color: lightblue;
  color: white;
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 1.5%;
}
.jobField{
  margin-right: 3%;
  min-height: 250px;
  margin-top: 10%;
  background-color: white;
}

.JobData-Master{
  padding-left: 3%;
  margin: 0px auto;
  /* display: flex; */
  flex-wrap: wrap;
  background-color: #E0E0E0;
  padding-right: 3%;
}

.ImageName{
  max-width:100%;
  max-height:100%;
}
.CompanyImage{
  position: relative;
  top:-25px;
  left: 15px;
  max-width: 55px;
  max-height: 65px;
  border-radius: 50px 20px;
  margin-left: 1.5%;
  background-color: white;
}
.CompanyImage img {
  height: 58px;
  width:65px;
  border: 1px solid lightgray;
  border-radius: 35%;
}

#TCE{
  margin-top: 10px;
  font-size: large;
}
#LOC{
  margin-top: 10px;
  font-size: large;
}
#submitBtn{
  margin-left: 3%;
}

body{
  background-color: #E0E0E0;
  font-family:  'Helvetica';
}
form{
  background-color: white;
}

.searchForm {
  margin-left: 5%;
  position: relative;
  height: 62px;
  bottom: 26px;
  margin-right: 5%;
}

.LoadMoreDiv{
  margin-top:1.5%;
}
#loadBtn{
  background-color: #5865E0;
}
#submitBtn{
  margin-top: -6px;
  background-color:#5865E0;
}
#myCheck{
  margin-left: 1.5%;
}
.JobType{
  color: #585858;
  padding-left: 10px;
}
.JobTitle{
  font-weight: bold;
  padding-left: 10px;
}
.CompanyName{
  color: #585858;
  padding-left: 10px;
}
.CompanyLocation{
  color:#212fb1;
  padding-left: 10px;
  padding-bottom: 10px;
}